# Database Configs (Postgres)
POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_DB=market_db
POSTGRES_USER=market_user
POSTGRES_PASSWORD=market_pass

# Kafka Configs
KAFKA_BOOTSTRAP_SERVERS=localhost:9093

# Twelve Data API Key
TWELVE_DATA_API_KEY=your_twelvedata_api_key_here

# Spark Master URL
SPARK_MASTER_URL=spark://localhost:7077
